@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui";
 @plugin "daisyui" {
   themes: light --default, dark --prefersdark;
 }
 body {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto Flex", sans-serif;

}
.heading {
  font-family: "Playfair", serif;

}

 h3, .heading {
  font-family: "Playfair", serif;
    font-size: 2rem; 
    font-weight: bold;  /* bigger than normal */
  line-height: 1.2;
  
  
}
p {
  font-size: 1rem;
  
}
.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px;
  margin:20px;
}

.service-card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.06);
  overflow: hidden;
}

.card-image {
  position: relative;
}

.card-image img {
  width: 100%;
  height: 190px;
  object-fit: cover;
}

.wishlist {
  position: absolute;
  top: 12px;
  right: 12px;
  background: white;
  border-radius: 50%;
  border: none;
  padding: 6px;
  cursor: pointer;
}

.card-content {
  padding: 16px;
}

.user {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}

.user img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}



.rating {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 13px;
}

.location {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 13px;
  color: #666;
  margin-top: 6px;
}

.price {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  font-size: 14px;
}


